name: Build Mod Boot IMG

on:
  workflow_dispatch:
    inputs:
      device:
        description: "Pilih device (hg680p atau b860h)"
        required: true
        default: "hg680p"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y xz-utils dosfstools gdisk udev util-linux

    - name: Cari file firmware .img.xz
      id: findxz
      run: |
        FILE=$(find openwrt -maxdepth 1 -type f -name "*.img.xz" | head -n 1)
        if [[ -z "$FILE" ]]; then
          echo "Tidak menemukan file .img.xz di folder openwrt/"
          exit 1
        fi
        NAME=$(basename "$FILE" .xz)

        echo "FILE=$FILE" >> $GITHUB_ENV
        echo "NAME=$NAME" >> $GITHUB_ENV
        echo "IMG=${NAME}" >> $GITHUB_ENV

    - name: Extract image (.img.xz → .img)
      run: |
        echo "Extracting: $FILE"
        unxz "$FILE"

    - name: Mount image
      run: |
        LOOP=$(sudo losetup -fP --show "$IMG")
        echo "LOOP=$LOOP" >> $GITHUB_ENV

        sudo mkdir bootp
        sudo mount "${LOOP}p1" bootp

        sudo tar -xzf files/mod-boot-sdcard.tar.gz -C bootp

        ROOT_UENV=$(grep APPEND bootp/uEnv.txt | awk -F "root=" '{print $2}')
        ROOT_EXT=$(grep append bootp/extlinux/extlinux.conf | awk -F "root=" '{print $2}')

        sudo sed -i "s|$ROOT_EXT|$ROOT_UENV|g" bootp/extlinux/extlinux.conf

        # Auto select DTB
        if [[ "${{ github.event.inputs.device }}" == "b860h" ]]; then
          DTB="meson-gxl-s905x-b860h.dtb"
        else
          DTB="meson-gxl-s905x-p212.dtb"
        fi

        OLD_DTB=$(grep dtb bootp/boot.ini | awk '{print $4}' | cut -d'"' -f1)

        sudo sed -i "s|$OLD_DTB|$DTB|g" bootp/boot.ini
        sudo sed -i "s|$OLD_DTB|$DTB|g" bootp/extlinux/extlinux.conf
        sudo sed -i "s|$OLD_DTB|$DTB|g" bootp/uEnv.txt

        sudo umount bootp

    - name: Inject U-Boot bootloader
      run: |
        sudo dd if=./BootCardMaker/u-boot.bin of="$LOOP" bs=1 count=444 conv=fsync
        sudo dd if=./BootCardMaker/u-boot.bin of="$LOOP" bs=512 skip=1 seek=1 conv=fsync

        sudo losetup -d "$LOOP"

    - name: Repack .img → .img.xz
      run: |
        echo "Compressing back to xz..."
        xz "$IMG"

    - name: Upload result
      uses: actions/upload-artifact@v3
      with:
        name: modboot-output
        path: |
          *.img.xz
